*{
    color: white;
}
body{
    margin: 0;
    padding: 0;
    background-color: #fed430;
    color: white;
    
}
li{
    list-style: none;
    
}
nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 235px;
     
}
#f-ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 25px;
    
}
#s-ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
a{
    text-decoration: none;
}
#image{
    
}