body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
li{
    list-style: none;
    
}
nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 235px;
  
}
#f-ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
#s-ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}